###Esto hace que no se permita ingresar a las carpetas directo desde la url
Options All -Indexes
###
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]